###################
# Byte code files #
###################
*.class

#################
# Package Files #
#################
*.jar
*.war
*.ear

####################
# specific folders #
####################
bin
nbproject

#######################
# Workspase generated #
#######################
.project
.classpath
.settings
/nbproject/private/
*.xml
/build/
/dist/
/target
